<h2>Filtros - Suppliers</h2>


<div class="form-group">
    {{ filtroCidades | json }}
    <div *ngFor="let estado of filtroCidades.estados; let i = index" class="checkbox">
        <label for="estados">
            <input type="checkbox" 
                   id="{{i}}"
                    [checked]="filtroCidades.id.includes(i)"
                   (change)="addIds(i, $event)"
                   > 
            {{ estado }}
        </label>
    </div>
</div>
<div class="form-group">
    <br />
    <ul>
        <li *ngFor="let filtrado of supplierListFilter">
            {{ filtrado.CompanyName }} - {{ filtrado.ContactName }} - {{ filtrado.Country }} - {{ filtrado.City }}
        </li>
    </ul>
</div>
<div class="well">
    <div class="form-group">
        {{ query.City }}
        <label for="supplier">City</label>
        <select id="supplier" class="form-control" [(ngModel)]="query.City" (change)="onFilterChange(query.City)">
            <option value=""></option>
            <option *ngFor="let c of supplierList" value="{{c.City }}">{{ c.City }}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <ul>
        <li *ngFor="let q of queryResult">
           {{q.Country}} -  {{ q.City }} - {{ q.CompanyName }}
        </li>
    </ul>
</div>