<div class="container">

    <ul>
        <li *ngFor="let c of clientes">
            <bootstrap-panel>
                <ng-container class="heading">
                    <h2>  {{ c.name }}</h2>
                </ng-container>
                <div class="body">
                    <h3>{{ c.chex }}</h3>
                    <p>{{c.tweet?.body}}</p>
                </div>
            </bootstrap-panel>
            <tweet-like [isLiked]="c.tweet.isLiked"
                        [likesCount]="c.tweet?.likesCount">

            </tweet-like>
        </li>
    </ul>



</div>


