<div class='container-fluid'>
   <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div> 

    <!--
    <p class="ex-estudos">Estudos Forms</p>
    <contact-form></contact-form>
    <br /><br />
    
    <p class="ex-estudos">Exemple ngIf/ng-template</p>
    <div *ngIf="mostraLista()">
        <h2>List of courses - Vindo de uma function()</h2> 
    </div>
    <div *ngIf="courses.length === 0">
        <h2>No courses yet - Vindo de uma function()</h2>
    </div>

    <div *ngIf="courses.length > 0; then yesCourses else noCourses"></div>

    <ng-template #yesCourses>
        <h2>List of courses</h2>
    </ng-template>
    <ng-template #noCourses>
        <h2>No courses yet</h2>
    </ng-template>
    <br />
    <br />
    <p class="ex-estudos">Exemple hidden</p>
    <div [hidden]="courses.length == 0">
        Yes Courses
    </div>
    <div [hidden]="!courses.length == 0">
        No Courses
    </div>

    <br /><br />
    <p class="ex-estudos">Exemple ngSwitch</p>
    <ul class="nav nav-pills">
        <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
        <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
    </ul>
    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'map'">Map View Content</div>
        <div *ngSwitchCase="'list'">List View Content</div>
        <div *ngSwitch>Default</div>
    </div>

    <br /><br />
    <p class="ex-estudos">Exemple ngFor</p>
    <button class="btn btn-success" (click)="onAdd()">Add</button>
    <button class="btn btn-default" (click)="loadCourses()">Load Courses</button>
   
    <ul>
        <li *ngFor="let c of newCourses; index as i; trackBy: trackCourse"> 
        {{ i }} - {{ c.name }} 
            <button class="btn btn-danger" (click)="removeNewCourse(c)">Remove</button>
        </li>
    </ul>
    <br /><br />
    <p class="ex-estudos">Exemple ngFor somente par</p>
    <ul>
        <li *ngFor="let c of newCourses; even as ehPar" [ngClass]="{'allBlue': c.id === 6}">
        {{ c.name }} <span *ngIf="ehPar">(PAR(even))</span>
        </li>

    </ul>
    <br /><br />
    <p class="ex-estudos">Exemple ngStyle somente par</p>

    <button
            [style.backgroundColor]="canSave ? 'blue' : 'gray'"
            [style.color]="canSave ? 'white' : 'black'"
            [style.fontWeight]="canSave ? 'bold' : 'normal'"
          
            >
        Save
    </button>
        
    <button [ngStyle]="{
            'backgroundColor': canSave ? 'blue' : 'gray',
            'color': canSave ? 'white' : 'black',
            'fontWeight': canSave ? 'bold' : 'normal'
            }">
        Save
    </button>
    <br /><br />
    <p class="ex-estudos">Exemple safe transversal operator</p>
    <span *ngIf="task.assignee">{{ task.assignee.name }}</span>
    <span>{{ task2.assignee?.name }}</span>
    <br /><br />
    <p class="ex-estudos">Exemple Custom Directives</p>
    <input type="text" name="name" value="" [appInputFormat]="'lowercase'" />
    <br /><br />
  
        <div class='row'>
            <div class='col-sm-9 body-content'>

                <p class="ex-estudos">Exemple ngClass</p>
                <favorite [isFavorite]="post.isFavorite" (changeOutput)="onFavoriteChanged($event)"></favorite>
                <tweet-like [isLiked]="tweet.isLiked"
                            [likesCount]="tweet.likesCount">

                </tweet-like>
                <br /><br />
                <bootstrap-panel>
                    <ng-container class="heading">Heading</ng-container>
                    <div class="body">
                        <h2>Body</h2>
                        <p>Content of body</p>
                    </div>
                </bootstrap-panel>
                <br /><br />
                <app-colapse titulo-colapse="Exercicio">
                    Conteudo
                </app-colapse>
            </div>
        </div> -->
</div>
       