<div class='container-fluid'>
    <div *ngIf="mostraLista()">
        <h2>List of courses - Vindo de uma function()</h2> 
    </div>
    <div *ngIf="courses.length === 0">
        <h2>No courses yet - Vindo de uma function()</h2>
    </div>

    <div *ngIf="courses.length > 0; else noCourses">
        <h2>List of courses</h2>
    </div>
    <ng-template #noCourses>
        <h2>No courses yet</h2>
    </ng-template>

    <br /><br />
    <div class='row'>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
            <favorite [isFavorite]="post.isFavorite" (changeOutput)="onFavoriteChanged($event)"></favorite>
            <bootstrap-panel>
                <ng-container class="heading">Heading</ng-container>
                <div class="body">
                    <h2>Body</h2>
                    <p>Content of body</p>
                </div>
            </bootstrap-panel>
            <tweet-like [isLiked]="tweet.isLiked"
                        [likesCount]="tweet.likesCount">

            </tweet-like>
        </div>
    </div>
</div>
