<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Estudos_Angular</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/caixinhas']">
                        <span class='glyphicon glyphicon-th-list'></span> Caixinhas
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/einstein-estudos']">
                        <span class='glyphicon glyphicon-th-list'></span> Einstein-Estudos
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/reactive-form']">
                        <span class='glyphicon glyphicon-heart'></span> Reactive Forms
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/new-courses']">
                        <span class='glyphicon glyphicon-pencil'></span> New Courses - Reactive Forms
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/posts']">
                        <span class='glyphicon glyphicon-glass'></span> Posts - Data Fakes
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/ngx']">
                        <span class='glyphicon glyphicon-grain'></span> NGX - Bootstrap
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/followers']"
                       [queryParams]="{page: 1, order: 'newest'}"
                       >
                        <span class='si-glyph-alien'></span> Github-Followers
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-pesquisa']">
                        <span class='si-glyph-alien'></span> Pesquisa
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
