<h2>Caixinhas</h2> 
<form #f="ngForm">
    <div class="container">
        <div class="form-group">
            <label>Firsts Products</label>
            <select class="form-control" id="product" [(ngModel)]="product.id" (change)="limpaSupplier(product.id)"  name="productId">
                <option value="0"></option>
                <option *ngFor="let p of productsList" [value]="p.ProductId">{{ p.ProductName }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Firsts Products</label>
            <select class="form-control" id="supplier" [(ngModel)]="supplier.id" name="supplierId" [disabled]="product.id == 0">
                <option value=""></option>
                <option  *ngFor="let s of supplirsFirsts" [value]="s.SupplierId">{{ s.CompanyName }}</option>
            </select>
        </div>

        <ul>
            <li *ngFor="let p of productsList"> 
                <bootstrap-panel  *ngIf="validShowProducts(p)">
                    <ng-container class="heading">
                        <h2>  {{ p.ProductName }}</h2>
                    </ng-container>
                    <div class="body">
                        <h3>{{ p.QuantityPerUnit }}</h3>
                        <div class="form-group">
                            <button class="btn btn-danger" name=""  (click)="delete(p.ProductId)">Deletar</button>
                            </div>
                        </div>
                </bootstrap-panel>
            </li>
        </ul>



    </div>

</form>
