<div class="container">

    <div class="col-sm-12">
        <div class="input-group form-group">
            <input type="text" id="input1-group2" name="input1-group2" (input)="pesquisarComponente(pesquisa)" [(ngModel)]="pesquisa" class="form-control" placeholder="Pesquisar...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" (click)="pesquisarComponente(pesquisa)"><i class="icon-magnifier"></i></button>
            </span>
        </div>
    </div>
    <ul class="pagination" [hidden]="lstProdutos?.length == 0">
        <li class="page-item">
            <button type="button" class="page-link" (click)="mudarPagina( pagina - 1 )" [disabled]="pagina == 0">
                Anterior
            </button>
        </li>
        <li class="page-item" [ngClass]="{'active': i == pagina }" *ngFor="let p of paginacao; let i = index">
            <a class="page-link" href="javascript:void(0)" (click)="mudarPagina( i )">{{i+1}}</a>
        </li>
        <li class="page-item">
            <button type="button" class="page-link" (click)="mudarPagina( pagina + 1 )" [disabled]="pagina == paginacao?.length - 1">
                Proxima
            </button>
        </li>
    </ul>     
    <table class="table table-condensed">
        <thead>
            <tr class="small bg-info">
                <th>{{ lstProdutos.length }} registros</th>
                <th>Nome do Produto</th>
                <th>Quantidade</th>
                <th>Preco</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tela of lstProdutos">
            <td style="cursor:pointer">
            </td>
            <td class="text-muted">{{ tela.ProductName }}</td>
              <td class="text-muted">{{ tela.QuantityPerUnit }}</td>
              <td class="text-muted">{{ tela.UnitPrice }}</td>
              <td class="text-muted">{{ tela.UnitsInStock }}</td>
          </tr>
        </tbody>
        </table>

</div>


